body{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-style: oblique;
}

.card{
    height: auto;
    width: 500px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.788);
    background-color: rgba(211, 211, 211, 0.493);
    
    
    display: grid;
    grid-template-rows: 50px 30px;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 370px;
}

h3{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card input{
    width: 400px;
    height: 21px;
    
    margin-left: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.input{
    width: 500px;
    height: 60px;
}

.input button{
    height: 27px;
    width: 60px;
    margin-left: 8px;
    font-family: 'Bebas Neue', sans-serif;
}

.producto{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-top: 10px;
}

.cantidad input{
    width: 50px;
    height: 15px;
}

.cantidad{
    list-style: none;
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.botonesLi{
    width: 477px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: end;
    gap: 2px;
}
/* .aumentar{
    width: 29px;
}
.disminuir{
    width: 29px;
} */

#alerta{
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0);
}

.botonVaciar{
    display: flex;
    justify-content: center;
    margin: 10px;

}

.botonVaciar button{
    width: 450px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1.5px solid black;
    border-radius: 5px;
}



.patrocinadores{
    width: fit-content;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 190px;
    bottom: 190px;
}

#contenedorDos{
    padding: 5px;
    align-items: center;
}

.shake:hover{
    animation-name: shake;
        -webkit-animation-name: shake;
        -moz-animation-name: shake;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
}

    @keyframes shake {
        0%  {transform: translate(0px, 0px) rotate(0deg);}
        10% {transform: translate(-1px, -1px) rotate(-0.1deg);}
        20% {transform: translate(-1px, 0px) rotate(0.1deg);}
        30% {transform: translate(0px, 0px) rotate(0deg);}
        40% {transform: translate(0px, -0px) rotate(0.1deg);}
        50% {transform: translate(-1px, 1px) rotate(-0.1deg);}
        60% {transform: translate(-1px, 1px) rotate(0deg);}
        70% {transform: translate(0px, 0px) rotate(-0.1deg);}
        80% {transform: translate(-1px, -1px) rotate(0.1deg);}
        90% {transform: translate(0px, 0px) rotate(0deg);}
        100% {transform: translate(0px, -1px) rotate(-0.1deg);}
    }